{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- JQUERY UI -->
        <link rel="stylesheet" href={% static "listings-page-draft/css/jquery-ui.css" %}>
        <link rel="stylesheet" href={% static "listings-page-draft/css/jquery-ui-theme.css" %}>
        <!-- Our style sheets -->
        <link rel="stylesheet" href={% static "listings-page-draft/css/nav-bar.css" %}>
        <link rel="stylesheet" href={% static "listings-page-draft/css/listing.css" %}>
        <!-- INSERT CODE FOR PAGE NAME HERE -->
        <title>
        Search - TermName
        </title>
    </head>
    <header>
        <nav class="navbar" id="top-bar">
            <div id="top-logo"><b><a href="http://127.0.0.1:8000/">SILGROSHARE</a></b></div>
            <ul>
                <li><a href="create-account.html">Create account</a></li>
                <li>|</li>
                <li><a href="#">Log in</a></li>
            </ul>
        </nav>
        <nav class="navbar" id="search-section">
        <form action="" method="post">
            {% csrf_token %}
                <div id="search-inputs">
                    <div id="top-search">
                            <select  id="category" name="category" >
                                <option value="all">Category</option>
                                <option value="Apparel">Apparel</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Home">Home</option>
                                <option value="Sports">Sports</option>
                                <option value="Transport">Transport</option>
                                <option value="Books">Books</option>
                            </select>
                        <input id="search-bar" type="text" name="search" placeholder="Search...">
                        <button type="submit" id="search" value=""><img alt='Se' src={% static "images/magnifying-glass.png" %}></button>
                    </div>
                    <div id="bottom-search">
                        <input id="start-time" class="nav-date" type="text" name="startDate" placeholder="Start Date"/>
                        <input id="end-time" class="nav-date" type="text" name="endDate" placeholder="End Date"/>
                        <input id="nav-location" type="text" name="location" placeholder="Location">
                        <a id="a-search" href="#">advanced search</a>
                    </div>
                </div>
            </form>
        </nav>
    </header>
    <body>
    <h1>{{ resultNumber }}</h1>
    <div id="content">
    <div class="box">

        <div id="trending">

        	<div class="scrolling-wrapper">
                {% for item in inf %}
	            <div class="polaroid">
                    <a href="productPage.html" target="_blank">
	              <img  alt="pic" class="trendingPics" style=" " src="{{ item.images.url }}" ></a>
	              <div class="container">
	                <h5 class="lineH">{{ item.title }}</h5>
	                <p class="lineH">Rate: {{ item.rate }}/day </p>
	                <p class="lineH">{{ item.description }}</p>
	              </div>
	            </div>
                {% endfor %}
            </div>

        </div>
    </div>
    </div>
    </body>

    <footer>
    <!-- JQUERY and JQUERY UI -->
    <script src={% static "listings-page-draft/scripts/jquery.js" %}></script>
    <script src={% static "listings-page-draft/scripts/jquery-ui.js" %}></script>
    <!-- GOOGLE MAPS API -->
    <script src="http://maps.google.cn/maps/api/js?key=AIzaSyAlvkBdPenw0ag-lytRGHrvRn2S-_idF-w&libraries=places&callback=initMapService"
        async defer></script>
    <!-- Our script files -->
    <script src={% static "listings-page-draft/scripts/nav-bar.js" %}></script>
    </footer>
</html>