{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="SILGRO Share" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href={% static "productPage/style.css" %}>

    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

    <title>Men's Formal Suit</title>

  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="http://127.0.0.1:8000">SILGRO share</a>
    	<img src={% static "productPage/images/profile.png" %} alt="profile pic" id="profile">
	  	<a href="#" id="myAccount">My Account</a>
	</nav>
    <div id="page">
        <aside>
            <div>
                <img src={% static "productPage/images/sharon.png" %} alt="profile pic" width="40" id="sharonP">
                <h2>Royce</h2>
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star"><br><br>
                <button class="button" style="vertical-align: middle;"><span>Message </span></button><br>
                <button class="button" style="vertical-align: middle;"><span>Email </span></button><br>
                <button class="button" style="vertical-align: middle;"><span>Phone </span></button><br>

                <br><img src={% static "productPage/images/location.png" %} alt="location" width="60" id="location"><p class="loc">4075, Michelton</p>
                
            </div><br>



    <p>Pickup Date:</p><input type="date" id="pick_date" name="pickup_date" onchange="cal()"/><br>

    <p>Dropoff Date:</p><input type="date" id="drop_date" name="dropoff_date" onchange="cal()"/><br>

    <br><div id="numdays"><input type="text" id="numdays2" placeholder="Total days" name="numdays"/></div>

                <br>
                <table width="220">
                    <tr>
                        <td id="numdays3"></td>
                        <td> x ${{ suit_info.rate }}/hour </td>
                        <td>###</td>
                    </tr>
                    <tr>
                        <td>Service Fees</td>
                        <td>1.75</td>
                        <td>1.75</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>###</td>
                    </tr>
                </table>
            </div>
        </aside>
        <section>
            <h1 id="heading">{{ suit_info.title }}</h1><br>
            <!-- Slideshow container -->
            <div class="slideshow-container">

              <!-- Full-width createListing with number and caption text -->
              <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src={{ suit1.img_url.url }} style="height:400px;">
              </div>

              <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src={{ suit2.img_url.url }} style="height:400px;">
              </div>

              <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src={{ suit3.img_url.url }} style="height:400px;">
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div><br>
            <div id="description">
            {{ suit_info.description }}
            </div><br>
        <br><h3>Reviews</h3><hr id="description">
        <img src={% static "productPage/images/profile.png" %} id="review"><h3 id="naming">Steven</h3><div id="starring">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star2">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star2">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star2">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star2">
                <img src={% static "productPage/images/star.png" %} alt="star" width="33" class="star2"></div><br>
            <br><br><h4>Review Title</h4><p id="description">
                Elementum eu facilisis sed odio morbi quis commodo odio aenean. Sit amet nisl purus in mollis nunc sed id. Massa id neque aliquam vestibulum morbi blandit cursus. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Risus nullam eget felis eget nunc lobortis. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Porta nibh venenatis cras sed felis eget velit aliquet. Odio euismod lacinia at quis risus sed vulputate odio ut.
            </p><br>
            <br><a href="#"><p id="readM">View more</p></a><br>

        <h3>Similar Items</h3>

         <hr id="description">
        <div class="gallery">
          <a target="_blank" href="bowtie.html">
            <img src={{ bowtie1.img_url.url }} alt="first pic" height="400">
          </a>
          <div class="desc">{{ bowtie_info.title }}</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="images/bike5.jpg">
            <img src={{ sunnies1.img_url.url }} alt="second pic" height="400">
          </a>
          <div class="desc">{{ sunnies_info.title }}</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="images/bike4.jpg">
            <img src={{ denim1.img_url.url }} alt="third pic" height="400">
          </a>
          <div class="desc">{{ denim_info.title }}</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="images/bike5.jpg">
            <img src={{ dress1.img_url.url }} alt="fourth pic" height="400">
          </a>
          <div class="desc">{{ dress_info.title }} </div>
        </div>
        </section>
    </div>

                <!-- <br>Listing Name<br>
                <input type="text" name="title" maxlength="25" placeholder="Title" size="67"><br>
                <br>
                <br>Category<br>
                <form>
                    <input type="checkbox" name="Apparel" value="Apparel"> <img src={% static "createListing/apparel.png" %} class="icon"> Apparel<br>
                    <input type="checkbox" name="Books" value="Books"> <img src={% static "createListing/books.png" %} class="icon"> Books<br>
                    <input type="checkbox" name="Electronics" value="Electronics"> <img src={% static "createListing/electronics.png" %} class="icon"> Electronics<br>
                    <input type="checkbox" name="Home" value="Home"> <img src={% static "createListing/home.png" %} class="icon"> Home & Garden<br>
                    <input type="checkbox" name="Sports" value="Sports"> <img src={% static "createListing/sports.png" %} class="icon"> Sports & Fitness<br>
                    <input type="checkbox" name="Transport" value="Transport"> <img src={% static "createListing/transport.png" %} class="icon"> Transport<br>
                </form><br>

                <br>Description<br>
                <textarea name="description" maxlength="500" placeholder="Enter a description of your item" rows="10" cols="80" id="description"></textarea><br>
                <br>Rate: <input type="text" name="rate" maxlength="6" width="10"> / day<br>
                <div id="pls">
                <br>Availability<br>
                Date: <input type="text" id="datepicker">
                </div>
                <div id="rest">
                    <br>Add Photos:<br>
                    <input type="file" name="img" multiple="10" onchange="readURL(this);" id="back"><br>
                    Choose up to 10 .jpeg .img or .png files<br>
                    <img src="http://placehold.it/180" id="blah" alt="your image"> <br>

                    <br>
                    <input type="submit" name="submit">
                </div> -->







    <footer>
    	<div class="row">
    		<div class="column" id="first">
    			<h2>Categories</h2>
    			<ul class="lists">
    				<li><a href="#">Apparel</a></li>
    				<li><a href="#">Books</a></li>
    				<li><a href="#">Electronics</a></li>
       				<li><a href="#">Home & Garden</a></li>
       				<li><a href="#">Sports & Fitness</a></li>
    				<li><a href="#">Transport</a></li>
    			</ul>
    		</div>
    		<div class="column">
    			<h2>For You</h2>
    			<ul class="lists">
    				<li><a href="#">New Account</a></li>
    				<li><a href="newListing.html">New Listing</a></li>
    				<li><a href="#">Current Listings</a></li>
    				<li><a href="#">My Account</a></li>
    				<li><a href="#">My History</a></li>
    			</ul>
    		</div>
    		<div class="column">
    			<img src={% static "footer-images/logo.png" %} alt="company logo" id="compLogo">
    			<br>
    			<img src={% static "footer-images/facebook.png" %} alt="facebook logo" class="socials">
    			<img src={% static "footer-images/instagram.png" %} alt="instagram logo" class="socials">
    			<img src={% static "footer-images/twitter.png" %} alt="twitter logo" class="socials">
    			<img src={% static "footer-images/youtube.png" %} alt="youtube logo" id="youtube">
    		</div>
    		<div class="column">
    			<h2>About</h2>
    			<ul class="lists">
    				<li><a href="aboutUs.html">About Us</a></li>
    				<li><a href="#">Contact Us</a></li>
    				<li><a href="#">FAQs</a></li>
    				<li><a href="#">Policy</a></li>
    			</ul>
    		</div>
    	</div>
    	<br>
    	<div id="lastBox">
    		<p id="lastLine">Copyright © 2019 SILGRO Technologies. All Rights Reserved.</p>
    	</div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script type="text/javascript" src={% static "productPage/myScript.js" %}></script>
    <script>
      $( function() {
        $( "#datepicker" ).datepicker();
      } );
    </script>
  </body>
</html>